/* body{
    background-image:url(https://pixabay.com/get/gfa29259f55278579b7f0830a148160cd503104ca80fbc52e11af16f1f97dd23045a8dde70d6347d66b166f2859013156.jpg;);
    background-repeat:no-repeat;
    background-size: cover;
} */