h1{
    text-align: center;
}

.Vertical{
    border-left: 2px solid black;
    border-right: 2px solid black;
}
td{
    height:80px;
    width:50px;
}
table{
    margin:auto;
}
.Horizontal{
    border-top: 2px solid black;
    border-bottom:2px solid black;
}
td:hover{
    background:#9b79b8
}